@font-face {
    src: url(/Graphics/Pacifico.ttf);
}

.pane {
    -fx-background-image: url(/Graphics/Background_food1.jpeg);
    -fx-background-color: transparent;
    -fx-pref-width: 450px;
    -fx-pref-height: 800px;
}

.button {
    -fx-text-fill: red;
    -fx-font-family: "Pacifico";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 30;
}

.button:hover {
    -fx-text-fill: white;
    -fx-font-family: "Pacifico";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 30;
}

.text-field {
    -fx-text-fill: white;
    -fx-font-family: "Pacifico";
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.password-field {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

