@font-face {
    src: url(/Graphics/Pacifico.ttf);
}

.pane_log {
    -fx-background-image: url(/Graphics/Background_food.jpeg);
    -fx-background-color: transparent;
    -fx-pref-width: 450px;
    -fx-pref-height: 800px;
}

.pane_app {
    -fx-background-image: url(/Graphics/Background_food1.jpeg);
    -fx-background-color: transparent;
    -fx-pref-width: 450px;
    -fx-pref-height: 800px;
}

.label {
    -fx-text-fill: red;
    -fx-font-family: "Pacifico";
    -fx-alignment: center;
    -fx-font-size: 30;
}

.button {
    -fx-text-fill: red;
    -fx-font-family: "Pacifico";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 30;
}

.button:hover {
    -fx-text-fill: white;
    -fx-font-family: "Pacifico";
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-font-size: 30;
}

.text-field {
    -fx-text-fill: white;
    -fx-font-family: "Pacifico";
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.password-field {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.table-view {
    -fx-font-size: 20;
    -fx-background-color: transparent;
}

.table-view.column-header-background{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-font-family: "Pacifico";
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-font-family: "Pacifico";
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
